<?xml version="1.0" encoding="utf-8"?>
<config>
    <tabs>
        <sbridge_tab module="moreview" translate="label">
            <label>SetuBridge</label>
            <sort_order>100</sort_order>
        </sbridge_tab>
    </tabs>
    <sections>
        <moreview_section module="moreview" translate="label">
            <label>Product Back Image On Hover</label>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>sbridge_tab</tab>
            <groups>
                <general_group translate="label">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <module_moreview translate="label">
                            <label>Enable Module?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </module_moreview>                        
                        <short_desc_instructions translate="label">
                            <label>Cross sell</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </short_desc_instructions>
                        <upsell_products translate="label">
                            <label>Up sell</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </upsell_products>
                        <related_products translate="label">
                            <label>Related Product</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </related_products>
                    </fields>
                </general_group>
            </groups>
        </moreview_section>
    </sections>
</config>